.w3-display-right
{position:absolute;
  top:57%;
  right:3%}

body{
background-image: url(../img/login2.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}


/* Add padding to container elements */
.container {
  padding: 10px;
}